.search-textbox {
  margin:-.25rem 0 0 1.5rem;
  padding:.25rem 1rem .25rem 1rem;
  border:#bfbfbf 1px solid;
  border-radius:25px;
  background:transparent;
  color:deeppink;
  min-width:150px;
  width:15%;
  transition:width 250ms ease-in-out;
}

.search-textbox:focus {
  outline:none;
  width:50%;
}

.reset-button {
  animation:spin 3s reverse ease-in;
  -moz-animation:spin 3s reverse ease-in;
  -webkit-animation:spin 3s reverse ease-in;
}

.reload-button {
  animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  -webkit-animation:spin 2s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform:rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
  }
}
