@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hvr-grow {
    @apply transform hover:scale-110 transition duration-300 ease-in-out;
  }
}

/* Film List View */
.film-table-list tr td:first-child {
  padding-right:1rem;
  font-weight:bold;
}

/* Scroll Bar */
::-webkit-scrollbar {
  display:none;
  /*width:3px;*/
}

/* Track */
::-webkit-scrollbar-track {
  /*background:#121212;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*border-radius:10px;*/
  /*background:darkgrey;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background:grey;*/
}
